{% extends "!layout.html" %}

{%- block extrahead %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66226631-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-66226631-2');
</script>

{% endblock %}
